/*************************************************
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Author: Jennifer Elie
application: EchoNotes

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
**************************************************

Todo
***************
    -add more to the home page
    -learn about and implement accessible font sizes

Colors
***************
    --darkTeal: #2f4f4f;
    --darkTealShadow: #253d3d;
    --lightGreen:  #699d85;
    --white: #fafafa;
    --black: #202124;
    --trueBlack: #000000;
    --gray: #404040;
    --lightGray: #cccccc;
    --noteBackground:#f8f8f8;

Fonts
***************
    -font-family: 'Roboto', sans-serif;
    -font-family: 'Roboto Serif', serif;
    -font-family: 'Roboto Slab', serif;

TOC
***************
0. CSS Universal Reset
1. CSS Variables and General Styles
2. Nav Styles
3. Main Styles
4. Form Styles
5. Button Styles
6. Register Page
7. Login Page
8. Home Page
9. Note Page
10. Profile Page
11. Footer Styles
*************************************************/

/*----------------------------------------------
0. CSS Universal Reset
------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/*----------------------------------------------
  1.CSS Variables and General Styles
------------------------------------------------*/
:root {
    --darkTeal: #2f4f4f;
    --darkTealShadow: #253d3d;
    --lightGreen: #699d85;
    --white: #fafafa;
    --black: #202124;
    --trueBlack: #000000;
    --gray: #404040;
    --lightGray: #cccccc;
    --noteBackground: #f8f8f8;

    --navHeight: 50px;
}

html {
    font-size: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column;
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    background-color: var(--darkTeal);
}

/*----------------------------------------------
  2. Nav Styles
------------------------------------------------*/
.nav {
    background-color: var(--white);
    height: var(--navHeight);
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px var(--darkTealShadow);
}

.logoNavLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    height: var(--navHeight);
    padding: 0;
    color: var(--black);
    margin-left: 8px;
}

.logoNavLink img {
    height: var(--navHeight);
    width: 145px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: var(--navHeight);
}

.navLink {
    display: block;
    height: var(--navHeight);
    text-decoration: none;
    padding-left: .5vw;
    padding-right: .5vw;
    padding-top: 15px;
    color: var(--black);
}

.navLink:hover {
    color: var(--trueBlack);
    border-bottom: 3px solid var(--gray);
    text-shadow: 0px 1px 0px var(--lightGray);
    text-shadow: 0px 0px 1px var(--lightGray)
}

.currentPage {
    color: var(--trueBlack);
    text-shadow: 0px 1px 0px var(--lightGray);
    border-bottom: 3px solid var(--lightGreen);
}

.navSpacer {
    min-width: 145px;
}

/*----------------------------------------------
  3. Main Styles
------------------------------------------------*/
.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------------------------------------
  4. Form Styles
------------------------------------------------*/
.formContainer {
    margin: auto;
    height: 75vh;
    min-height: 401px;
    max-width: 1077px;
    display: flex;
    border-radius: 2.3vh;
    box-shadow: 5px 5px 5px var(--darkTealShadow);
}

.input,
.formHeading {
    padding-left: 2vw;
    margin-top: 2vh;
}

input[type=text],
input[type=email],
input[type=password] {
    background-color: var(--white);
    border: none;
    border-bottom: 2px solid var(--gray);
    padding-bottom: 1vh;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    outline: none;
    border-bottom: 2px solid var(--lightGreen);
    box-shadow: 0px 1px 0px var(--lightGreen);
}

.submitForm,
.haveAcc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.formBottom {
    flex: 1;
    min-width: max-content;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* background-color: aqua; */
}

.loginForm,
.registerForm,
.noteForm {
    height: 75vh;
    display: flex;
    flex-flow: column;
}

.haveAccLink {
    color: var(--gray);
    margin-top: 1vh;
}

.haveAccLink:hover {
    color: var(--black);
}

.errorMSG {
    font-size: .85rem;
    color: #b62525;
}

.hidden {
    display: none;
}

.fa-circle-check {
    color: #699d85;
}

.fa-circle-exclamation {
    color: #b62525;
}

/*----------------------------------------------
  5. Button Styles
------------------------------------------------*/
.submitButton {
    border: 2px solid var(--darkTeal);
    background-color: var(--lightGreen);
    cursor: pointer;
    border-radius: 2.3vh;
    padding: 10px;
    width: 55%;
    max-width: 250px;
    color: var(--black);
    font-weight: 700;
}

.submitButton:hover {
    box-shadow: 1px 1px 0px var(--lightGray);
    color: var(--trueBlack);
}

/*----------------------------------------------
  6. Register Page 
------------------------------------------------*/
.leftRegister,
.leftLogin {
    width: 25vw;
    min-width: max-content;
    background-position: center;
    background-size: cover;
    background-color: var(--white);
    min-width: min-content;
    border-top-left-radius: 2.3vh;
    border-bottom-left-radius: 2.3vh;
}

.leftRegister {
    background-image: url("../Images/journal\ justin-morgan.jpg");
}

.rightRegister {
    width: 25vw;
    background-color: var(--white);
    overflow: auto;
    min-width: min-content;
    border-top-right-radius: 2.3vh;
    border-bottom-right-radius: 2.3vh;
    min-height: min-content;

}

/*----------------------------------------------
  7. Login Page
------------------------------------------------*/
.leftLogin {
    background-image: url("../Images/journal\ diana-polekhina.jpg");
}

.rightLogin {
    width: 25vw;
    background-color: var(--white);
    overflow: auto;
    min-width: min-content;
    border-top-right-radius: 2.3vh;
    border-bottom-right-radius: 2.3vh;
    min-height: min-content;
    display: flex;
    flex-flow: column;
    height: 100%;
}


/*----------------------------------------------
  8. Home Page
------------------------------------------------*/
.homeBody {
    
    background-color: var(--darkTeal);
    
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-image: url('../Images/home.png');
}

.WelcomeContainer {
    margin: auto;
    height: 75vh;
    width: 70vw;
    display: flex;
    border-radius: 2.3vh;
    box-shadow: 5px 5px 5px var(--darkTealShadow);
    background-color: var(--white);
    display: inline;
}

.Welcome,
.newNoteHeading {
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 1vh;
}
.newNoteSubHeading{
    text-align: center;
}

.WelcomeMSG {
    padding-left: 4vw;
    padding-right: 4vw;
    font-family: 'Roboto Slab', serif;
}

/*----------------------------------------------
  9. Note Page
------------------------------------------------*/
.noteContainer {
    margin: auto;
    height: 75vh;
    width: 70vw;
    display: flex;
    border-radius: 2.3vh;
    box-shadow: 5px 5px 5px var(--darkTealShadow);
    background-color: var(--white);
    display: inline;
}

.textareaContainer {
    display: flex;
    justify-content: center;
}

textarea {
    width: 98%;
    height: 50vh;
    box-sizing: border-box;
    border: 2px solid var(--lightGray);
    border-radius: 1.3vh;
    background-color: var(--noteBackground);
    resize: none;
    padding: 1.5vh 2vh;
}

textarea:active,
textarea:focus {
    box-sizing: border-box;
    outline-color: var(--lightGreen);
    resize: none;
}

.noteNaveContainer{
    height: 100%; 
    width: 20vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 3vh;
}
.noteNav {
    height: 100%;
    width: 100%; 
    border-radius: 2.3vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: .7vw;
    padding-right: .7vw;
    background-color: var(--noteBackground);
    /* border:var(--darkTealShadow);
    border-style: solid; */
    box-shadow: 5px 5px 5px var(--darkTealShadow);
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.noteButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: .7vh;
}

.noteUL{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height:100%;
    max-height: 70vh;
    /* background-color: blueviolet; */
    justify-content: flex-end;
    overflow-y:scroll;
}
.noteLI{
width: 100%;
min-height: 30px;
background-color: var(--noteBackground);
border: 2px double var(--lightGreen);
border-radius: 2.3vh;
font-size: 1.25rem;
padding: 1vh;
}
.noteLI:hover{
    box-shadow: 1px 1px 3px var(--lightGray);
    cursor: pointer;
}
.dateDiv{
    font-size: .8rem;
}
.spacerLI{
    height: .5vh;
}


/* width */
::-webkit-scrollbar {
    width: .7vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--noteBackground); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--lightGreen); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    border: var(--darkTeal);
    border-style: solid ;
  }
  
/*----------------------------------------------
  10. Profile Page
------------------------------------------------*/
.profileContainer{
    width: 35vw;
    background-color: var(--white);
    overflow: auto;
    min-width: max-content;
    border-top-right-radius: 2.3vh;
    border-bottom-right-radius: 2.3vh;
    border-radius: 2.3vh;
    min-height: min-content;
    display: flex;
    flex-flow: column;
    height: 100%;
}
#profileHeading{
    text-align: center;
    padding-bottom: 2vw;
    padding-top: 1.5vw;
}

.row{
    /* width: 30vw; */
    min-width: min-content;
    /* background-color: #b62525; */
    display: flex;
    flex-direction: row;
    padding-top: .5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.2rem;
    /* background-color: chartreuse; */
}
.label{
flex: 1;
padding-right: .5vw;
white-space: nowrap
}
.usersData{
    flex: 2.5;
    padding-left: .5vw;
    border-bottom: 2px solid var(--lightGreen);
    box-shadow: 0px 1px 0px var(--lightGreen);
}
.editUserData{
    padding-left: .5vw;
    flex:.5;
    font-size: 1.2rem;
}
.editButton{
    border: 2px solid var(--darkTeal);
    background-color: var(--lightGreen);
    cursor: pointer;
    border-radius: 2.3vh;
    padding: 10px;
    min-width: min-content;
    color: var(--black);
    font-weight: 700;
}


.editButton:hover {
    box-shadow: 1px 1px 0px var(--lightGray);
    color: var(--trueBlack);
}
.basic-form{
    width: 100%;
    border: var(--darkTeal);
    border-style: double;
    border-radius:2.3vh ;
    background-color: rgb(206, 234, 214);
    display: flex;
    flex-flow: column;
    /* padding: 2vh; */
}

.editFormBts{
   padding-left: 2vh;
}
#editEmail{
    border-radius:2.3vh ;
}

#editEmailErrorMsg{
  display: block;
  /* background-color: blueviolet; */
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 2vh;
}
.fromContent{
    width: 100%;
    display: flex;
    padding: 2vh;
}
/*----------------------------------------------
  11. Footer Styles
------------------------------------------------*/


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%test area%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
