/*************************************************
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Author: Jennifer Elie
application: EchoNotes

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
**************************************************

Todo
***************
    -add more to the home page
    -learn about and implement accessible font sizes

Colors
***************
    --darkTeal: #2f4f4f;
    --darkTealShadow: #253d3d;
    --lightGreen:  #699d85;
    --white: #fafafa;
    --black: #202124;
    --trueBlack: #000000;
    --gray: #404040;
    --lightGray: #cccccc;
    --noteBackground:#f8f8f8;

Fonts
***************
    -font-family: 'Roboto', sans-serif;
    -font-family: 'Roboto Serif', serif;
    -font-family: 'Roboto Slab', serif;

TOC
***************
0. CSS Universal Reset
1. CSS Variables and General Styles
2. Nav Styles
3. Main Styles
4. Form Styles
5. Button Styles
6. Register Page
7. Login Page
8. Home Page
9. Note Page
10. Profile Page
11. Footer Styles
*************************************************/

/*----------------------------------------------
0. CSS Universal Reset
------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/*----------------------------------------------
  1.CSS Variables and General Styles
------------------------------------------------*/
:root {
    --darkTeal: #2f4f4f;
    --darkTealShadow: #253d3d;
    --lightGreen: #699d85;
    --white: #fafafa;
    --black: #202124;
    --trueBlack: #000000;
    --gray: #404040;
    --lightGray: #cccccc;
    --noteBackground: #f8f8f8;

    --navHeight: 50px;
}

html {
    font-size: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column;
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    background-color: var(--darkTeal);
}

/*----------------------------------------------
  2. Nav Styles
------------------------------------------------*/
.nav {
    background-color: var(--white);
    height: var(--navHeight);
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px var(--darkTealShadow);
}

.logoNavLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    height: var(--navHeight);
    padding: 0;
    color: var(--black);
    margin-left: 8px;
}

.logoNavLink img {
    height: var(--navHeight);
    width: 145px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: var(--navHeight);
}

.navLink {
    display: block;
    height: var(--navHeight);
    text-decoration: none;
    padding-left: .5vw;
    padding-right: .5vw;
    padding-top: 15px;
    color: var(--black);
}

.navLink:hover {
    color: var(--trueBlack);
    border-bottom: 3px solid var(--gray);
    text-shadow: 0px 1px 0px var(--lightGray);
    text-shadow: 0px 0px 1px var(--lightGray)
}

.currentPage {
    color: var(--trueBlack);
    text-shadow: 0px 1px 0px var(--lightGray);
    border-bottom: 3px solid var(--lightGreen);
}

.navSpacer {
    min-width: 145px;
}

/*----------------------------------------------
  3. Main Styles
------------------------------------------------*/
.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------------------------------------
  4. Form Styles
------------------------------------------------*/
.formContainer {
    margin: auto;
    height: 75vh;
    min-height: 401px;
    max-width: 1077px;
    display: flex;
    border-radius: 2.3vh;
    box-shadow: 5px 5px 5px var(--darkTealShadow);
}

.input,
.formHeading {
    padding-left: 2vw;
    margin-top: 2vh;
}

input[type=text],
input[type=email],
input[type=password] {
    background-color: var(--white);
    border: none;
    border-bottom: 2px solid var(--gray);
    padding-bottom: 1vh;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    outline: none;
    border-bottom: 2px solid var(--lightGreen);
    box-shadow: 0px 1px 0px var(--lightGreen);
}

.submitForm,
.haveAcc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.formBottom {
    flex: 1;
    min-width: max-content;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* background-color: aqua; */
}

.loginForm,
.registerForm,
.noteForm {
    height: 75vh;
    display: flex;
    flex-flow: column;
}

.haveAccLink {
    color: var(--gray);
    margin-top: 1vh;
}

.haveAccLink:hover {
    color: var(--black);
}

.errorMSG {
    font-size: .85rem;
    color: #b62525;
}

.hidden {
    display: none;
}

.fa-circle-check {
    color: #699d85;
}

.fa-circle-exclamation {
    color: #b62525;
}

/*----------------------------------------------
  5. Button Styles
------------------------------------------------*/
.submitButton {
    border: 2px solid var(--darkTeal);
    background-color: var(--lightGreen);
    cursor: pointer;
    border-radius: 2.3vh;
    padding: 10px;
    width: 55%;
    max-width: 250px;
    color: var(--black);
    font-weight: 700;
}

.submitButton:hover {
    box-shadow: 1px 1px 0px var(--lightGray);
    color: var(--trueBlack);
}

/*----------------------------------------------
  6. Register Page 
------------------------------------------------*/
.leftRegister,
.leftLogin {
    width: 25vw;
    min-width: max-content;
    background-position: center;
    background-size: cover;
    background-color: var(--white);
    min-width: min-content;
    border-top-left-radius: 2.3vh;
    border-bottom-left-radius: 2.3vh;
}

.leftRegister {
    background-image: url("../Images/journal\ justin-morgan.jpg");
}

.rightRegister {
    width: 25vw;
    background-color: var(--white);
    overflow: auto;
    min-width: min-content;
    border-top-right-radius: 2.3vh;
    border-bottom-right-radius: 2.3vh;
    min-height: min-content;

}

/*----------------------------------------------
  7. Login Page
------------------------------------------------*/
.leftLogin {
    background-image: url("../Images/journal\ diana-polekhina.jpg");
}

.rightLogin {
    width: 25vw;
    background-color: var(--white);
    overflow: auto;
    min-width: min-content;
    border-top-right-radius: 2.3vh;
    border-bottom-right-radius: 2.3vh;
    min-height: min-content;
    display: flex;
    flex-flow: column;
    height: 100%;
}


/*----------------------------------------------
  8. Home Page
------------------------------------------------*/
.homeBody {
    background-image: url('/public/Images/home.png');
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-color: var(--white);
}

.WelcomeContainer {
    margin: auto;
    height: 75vh;
    width: 70vw;
    display: flex;
    border-radius: 2.3vh;
    box-shadow: 5px 5px 5px var(--darkTealShadow);
    background-color: var(--white);
    display: inline;
}

.Welcome,
.newNoteHeading {
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 1vh;
}

.WelcomeMSG {
    padding-left: 4vw;
    padding-right: 4vw;
    font-family: 'Roboto Slab', serif;
}

/*----------------------------------------------
  9. Note Page
------------------------------------------------*/
.noteContainer {
    margin: auto;
    height: 75vh;
    width: 70vw;
    display: flex;
    border-radius: 2.3vh;
    box-shadow: 5px 5px 5px var(--darkTealShadow);
    background-color: var(--white);
    display: inline;
}

.textareaContainer {
    display: flex;
    justify-content: center;
}

textarea {
    width: 98%;
    height: 50vh;
    box-sizing: border-box;
    border: 2px solid var(--lightGray);
    border-radius: 1.3vh;
    background-color: var(--noteBackground);
    resize: none;
    padding: 1.5vh 2vh;
}

textarea:active,
textarea:focus {
    box-sizing: border-box;
    outline-color: var(--lightGreen);
    resize: none;
}

.noteNav {
    /* height: 100%; 
    width: 0;  */

    /*Stays in place */
    background-color: green;
    /*green*/
    overflow-x: hidden;
    /*for Disabling horizontal scroll */
    background-color: aqua;
}

/*----------------------------------------------
  10. Profile Page
------------------------------------------------*/

/*----------------------------------------------
  11. Footer Styles
------------------------------------------------*/


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%test area%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */